includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor

    ignoreErrors:
        # PHPStan doesn't fully understand DefinitionConfigurator's fluent API
        # This is correct Symfony code as per official documentation
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
